@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


/* Adiciona efeito de rolagem suave a pagina*/
html {
    scroll-behavior: smooth;
}


/*CRIANDO VARIVEIS DO CSS*/
:root {
    --branco: #eaeaea;
    --cor-texto: #1e1e1e;
    --sombra: 5px 5px 15px #6a6d71;
    --gradiante: linear-gradient(-45deg, #a90909, #dcc600);
}


/*CRIANDO VARIVEIS DO CSS*/
a {
    color: #1f1f1f;
    text-decoration: none;
}

body {
    margin: 0;
    background-color: var(--branco);
    color: var(--cor-texto);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

/*------------------------------ESTILIZAÇÃO CABEÇARIO-----------------------------*/

header .navDiv,
header .nav label,
header input {
    display: none;
}

header {
    width: calc(100% - 20px);
    padding: 10px;
    border-bottom: 1px solid #bcbdbf;
    grid-template-columns: 30% 70%;
    background-color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
}

header .logoContaider {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logoContaider .logoimg {
    height: 30px;
}


header .logoContaider .logo-text {
    font-size: 35px;
    margin-left: 3px;
    margin-bottom: 4px;
}

/*-----------------------------------------------------------*/

header ul {
    margin: 0;
    list-style: none;
    display: flex;
    height: 100%;
    justify-content: end;
    align-items: center;
    font-weight: bold;
    padding-inline: 20px;
}

header ul li {
    padding: 0 30px;
}

/*-----------------------------------------------------------*/

.container {
    width: 1200px;
    max-width: 90%;
    margin: auto;
}

/*-----------------------------ESTILIZAÇÃO PARTE INICIAL------------------------------*/

.banner {
    margin-top: 150px;
    display: grid;
    grid-template-columns: 60% 40%;
    border-bottom: 5px solid #b6bdc170;
    padding-bottom: 50px;
}

.banner .content {
    text-align: justify;
    padding-right: 50px;
}

.banner .content h1 {
    font-size: 2.5rem;
    margin: 0;
}

.gradientText {
    display: inline-block;
    background: var(--gradiante);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.job {
    display: inline-block;
}

.job::before {
    content: attr(data-job1);
    overflow: hidden;
    display: inline-flex;
    animation: effectText 1s linear(0 0%, 1.39 102.94%) infinite alternate, changeText 4s linear infinite;
}

/*-----------------------------ESTILIZAÇÃO REDES SOCIAIS------------------------------*/


.socialMideas {
    margin-top: 50px;
}

.socialMideas ul {
    padding: 0;
    list-style: none;
    display: flex;
}

.socialMideas ul li {
    padding: 15px;
    box-shadow: var(--sombra);
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;
}

.socialMideas ul li img {
    width: 25px;
    height: 25px;
}

.socialMideas ul li:hover {
    background: var(--gradiante);
}

/*----------------ESTILIZAÇÃO DA FOTO DE PERFIL--------------------*/

.banner .avatar {
    position: relative;
    height: max-content;
    text-align: center;
    padding: 2rem 1rem;
    transition: all 1s;
    animation: scaleImage 5s linear infinite;
    box-shadow: 3px 3px 10px rgb(84, 83, 83);
}

.banner img {
    width: 90%;
}

/*ANIMAÇÃO PARA FOTO SE MECHER */
@keyframes scaleImage {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/*------------------------------ESTILIZAÇÃO SOBRE MIM-----------------------------*/


.sobreMim {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    padding: 5%;
    border-bottom: 5px solid #b6bdc170
}

.sobreMimImg img {
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 50px;
}


.sobreMimTexto h2 {
    font-size: 60px;
    display: flex;
}


.sobreMimTexto h2 .sobreMimTextoTrecho {
    display: inline-block;
    background: var(--gradiante);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-left: 8px;
    font-size: 60px;
}

/*------------------------------ESTILIZAÇÃO DA FORMAÇÃO-----------------------------*/



.tituloFormacao {
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
    color: var(--cor-texto);
}

.formacao {
    padding-bottom: 4vh;
    margin: 0px 10rem;
    box-sizing: border-box;
    min-height: fit-content;
    border-bottom: 5px solid rgba(182, 189, 193, 0.44);
}


.formacaoContainer {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

}

.detalhesContainer {
    padding: 1.5rem;
    flex: 1;
    border-color: var(--cor-texto);
    background: var(--gradiante);
    border-radius: 2rem;
    text-align: center;
}

.formacaoTexto p {
    color: var(--cor-texto);
    font-size: 25px;
    line-height: 1.4;
    margin-bottom: 4rem;
    text-align: center;
}

/*------------------------------ESTILIZAÇÃO DO PORTIFOLIO-----------------------------*/


.portifolio{
    position: relative;
    border-bottom: 5px solid rgba(182, 189, 193, 0.44);
}

.tituloPortifolio{
text-align: center;
font-size: 60px;
color: var(--cor-texto);
}

.efeitoTextoPostofolio{
    display: inline-block;
    background: var(--gradiante);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-left: 8px;
    font-size: 60px;
}

.containerPortifolio1{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.containerPortifolio2{
    gap: 2rem;
    margin: 0 3rem 3rem 3rem;
    display: flex;
}

.containerPortifolio3{
    padding: 1.5rem;
    flex:1;
    background: white;
    border-radius: 2rem;
    border-color: black;
    text-align: center;
    background-color: #a90909;
    border-color: rgb(12, 12, 12);
    background: var(--cor-texto);
}

.containerPortifolio4{
    display:flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

.projeto-img{
    border-radius: 2rem;
    width: 90%;
    height:90%;
}

.projetoSubTitutlo{
    margin-bottom: 2rem;
    color: var(--branco);
}

.btnProjeto{
    display: inline-block;
    padding: 5px 18px;
    background: var(--gradiante);
    border-radius: 40px;
    font-size: 30px;
    color: var(--cor-texto);
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 5px #a90909;
}

/*------------------------------ESTILIZAÇÃO DO FORMULARIO-----------------------------*/



.containerFormulario{
    width:100%;
    background-color: rgb(231,231,231);
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.containerFormulario1{
    width: 100%;
    margin: 0 auto;
}

.containerFormularioTitulo{
    font-size: 5em;
    color: var(--gradiante);
    padding-top:2rem;
    text-align: center;
    margin: 0;
}

.containerFormularioSubTitulo{
    font-size: 3rem;
    color:#343d68aa;
    text-transform: capitalize;
    text-align: center;
    margin: 0;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap:30px;
    width: 70%;
    margin:2rem 5rem;
}
.containerCamposformulario{
    width:100%;
}

.formularioCampos{
    width: 70%;
    height: 42px;
    padding: 0 2rem;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #1f1f1f;
    font-weight: 500;
    border: none;
    margin-top: 27px;
    margin-left:20%;
}

.formularioAreaTexto{
    height: auto;
    padding-top: 1rem;
}

#formularioBtn{
    display: inline-block;
    padding: 5px 18px;
    background: var(--gradiante);
    border-radius: 40px;
    font-size: 30px;
    color: var(--cor-texto);
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 5px #302f2f;
    margin: 1rem 0;
    margin-top: 50px;
    margin-left: 20%;
}

#formularioBtn:hover{
    scale: 1.0;
    background: var(--branco);
}

/*-----------------------------------------------------------*/
